.footer {
    background-color: #0f5c4c;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 4px solid #2f826f;
  }
  
  .footer-rights {
    font-size: 1.1rem;
    margin: 0.2rem 0;
  }
  
  .footer-quote {
    font-size: 1.2rem;
    font-style: italic;
    color: #e0f7f1;
    margin: 0.2rem 0;
  
  }