* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header-container {
  background-color: #0f5c4c;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

